@{
    ViewBag.Title = "關於一隻雞";
}
<i class="h2 fas fa-drumstick-bite"></i><span class="h2"> @ViewBag.Title.</span>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-body pb-0">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="lead"><b>孤獨一隻雞</b></h2>
                                    <p class="text-muted text-sm"><b>About: </b> 待補充.... </p>
                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: 快樂農場</li>
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: 打不通的</li>
                                    </ul>
                                </div>
                                <div class="col-5 text-center">
                                    <img src="~/adminlte/img/user2-160x160.jpg" alt="user-avatar" class="img-circle img-fluid" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->