@{
    Layout = "~/Views/Shared/_Layout_Indentity.cshtml";
}
<div class="login-box">
    <div class="card card-outline card-warning">
        <div class="card-header text-center">
            <img src="~/adminlte/img/CLogo.png" class="img-size-50 mr-3 img-circle" /> <a href="@Url.Action("Index", "Home")" class="h2"><b>Chicken Say Hi</b></a>
            <div>
                <a href='#' class="text-warning"><b>您的密碼已更改~</b></a>
            </div>
        </div>
        <div id="LoginVue" class="card-body">
            <p>@Html.ActionLink("回首頁", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-block btn-outline-warning" })</p>
            @*<p>@Html.ActionLink("登入", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-block btn-outline-warning" })</p>*@
        </div>
        <!-- /.card-body -->
    </div>
   

</div>